<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhj.devdeck.mapper.AuditAvatarMapper">

    <resultMap id="BaseResultMap" type="org.zhj.devdeck.entity.AuditAvatar">
            <result property="auditId" column="audit_id" jdbcType="BIGINT"/>
            <result property="auditType" column="audit_type" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="submitUser" column="submit_user" jdbcType="BIGINT"/>
            <result property="auditor" column="auditor" jdbcType="BIGINT"/>
            <result property="auditTime" column="audit_time" jdbcType="TIMESTAMP"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="avatarUrl" column="avatar_url" jdbcType="VARCHAR"/>
            <result property="originalHash" column="original_hash" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        audit_id,audit_type,status,
        submit_user,auditor,audit_time,
        created_at,updated_at,avatar_url,
        original_hash
    </sql>
</mapper>
