<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhj.devdeck.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="org.zhj.devdeck.entity.Category">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="slug" column="slug" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="sortWeight" column="sort_weight" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="isEnabled" column="is_enabled" jdbcType="VARCHAR"/>
            <result property="createdBy" column="created_by" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="deletedAt" column="deleted_at" jdbcType="TIMESTAMP"/>
            <result property="updatedBy" column="updated_by" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,slug,
        parent_id,sort_weight,description,
        icon,is_enabled,created_by,
        created_at,updated_at,deleted_at,
        updated_by
    </sql>
</mapper>
