<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhj.devdeck.mapper.RolePermissionsMapper">

    <resultMap id="BaseResultMap" type="org.zhj.devdeck.entity.RolePermissions">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="roleId" column="role_id" jdbcType="INTEGER"/>
            <result property="permissionId" column="permission_id" jdbcType="INTEGER"/>
            <result property="createdBy" column="created_by" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedBy" column="updated_by" jdbcType="INTEGER"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="deletedAt" column="deleted_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,permission_id,
        created_by,created_at,updated_by,
        updated_at,deleted_at
    </sql>
    <delete id="deletePermissions">
        delete from role_permissions where role_id = #{dto.roleId} and permission_id in
        <foreach collection="dto.permissionIdsToDelete" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
